* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue';
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    color: #CA3216;
}

@media (prefers-color-scheme: light) {
    body {
        background: #FFFFFF;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background: #000000;
    }
}